<footer>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt dolorem placeat quia. Deleniti consequuntur dicta quisquam facilis omnis ut dolor. Est facere, laudantium impedit repudiandae sapiente natus suscipit molestiae.</h1>
</footer>