<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Contacto</h3>
            <p>Email: quispesierraalexjeanpier@gmail.com</p>
            <p>Teléfono: +51 901435954</p>
            <p>Sígueme en <a href="https://github.com/drax3l" target="_blank">GitHub</a></p>
        </div>
        <div class="footer-section">
            <h3>Sobre Mi</h3>
            <p>Desarrollador web junior apasionado por el aprendizaje y la innovación. Disfruto colaborando en proyectos que marcan la diferencia.</p>
        </div>
        <div class="footer-section">
            <h3>Redes Sociales</h3>
            <p><a href="https://www.linkedin.com/in/alex-jeanpier-quispe-sierra-65784633a" target="_blank">LinkedIn</a></p>
        </div>
    </div>
    <p class="footer-note">&copy; 2024 Alex Jeanpier Quispe Sierra. Todos los derechos reservados.</p>
</footer>